<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Scraper</title>
</head>
    <body>
        <div>
            <form method = "POST" action = "/search">
                <p><input type = "text" name = "search"/></p>
                <button type = "submit" value = "submit">Search</button>
            </form>
        </div>
        <div>
            <form>
                <ul>
                    {% for link in links %}
                        <li>
                            <a href = "{{ link }}">{{ link }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </body>
</html>
